@using Models
@using Services

<div class="blog-post-list">

    @if (IsDataLoading)
    {
        <i class="las la-circle-notch la-3x m-auto"></i>
    }
    else
    {
        foreach (var Post in Posts)
        {
            <BlogPost Category="@Post.Yaml.Category"
                      Date="@Post.Yaml.Date.ToString("dd MMMM, yyyy")"
                      Title="@Post.Yaml.Title"
                      Description="@Post.Yaml.Description"
                      ImageUrl="@Post.Yaml.ImageUrl"
                      Url="@Post.Yaml.Url">
            </BlogPost>
        }
    }

</div>

@code {

    [Inject] private IBlogPostProcessorService BlogPostProcessorService { get; set; }

    private bool IsDataLoading { get; set; } = true;
    private IEnumerable<BlogPostDocument> Posts { get; set; }

    protected async override Task OnInitializedAsync()
    {
        Posts = await BlogPostProcessorService.ProcessPostsAsync();
    }

}