<div class="blog-post">
    <img src="@ImageUrl" alt="@Title" />
    <div class="content">
        <div class="info">
            <span class="category" title="@Category">@Category</span>
            <span class="date">@Date</span>
        </div>
        <div class="title" title=" @Title">
            @Title
        </div>
        <p class="description" title="@Description">
            @Description
        </p>
        <NavLink href="@{$"Blog/Post/{Url}"}" Match="NavLinkMatch.All">READ MORE</NavLink>
    </div>
</div>

@code {
    [Parameter]
    public string Category { get; set; }
    [Parameter]
    public string Date { get; set; }
    [Parameter]
    public string Title { get; set; }
    [Parameter]
    public string Description { get; set; }
    [Parameter]
    public string ImageUrl { get; set; }
    [Parameter]
    public string Url { get; set; }

}
