<div class="blog-post-list">

    @if (IsDataLoading)
    {
        <i class="las la-circle-notch la-spin la-4x m-auto"></i>
    }
    else if (DataIsEmpty)
    {
        <p class="m-auto">No posts found :(</p>
    }
    else
    {
        foreach (var Post in PostsMetadata)
        {
            <BlogPost Category="@Post.Category"
                      Date="@Post.Date.ToString("dd MMMM, yyyy")"
                      Title="@Post.Title"
                      Description="@Post.Description"
                      ImageUrl="@Post.ImageUrl"
                      Url="@Post.FileName">
            </BlogPost>
        }
    }

</div>