@page "/Blog/Post/{PostName}"
@implements IDisposable
@using Models
@using Services
@using System.Web

<div class="post-container">
    @if (IsDataLoading)
    {
        <i class="las la-circle-notch la-spin la-4x m-auto"></i>
    }
    else if (IsDataEmpty)
    {
        <p class="m-auto">Post not found :(</p>
    }
    else
    {
        <div class="post-banner">
            <img src="@BlogPostDocument.Yaml.ImageUrl" alt="@BlogPostDocument.Yaml.Title" />
            <div class="post-info">
                <div class="info">
                    <span class="category" title="@BlogPostDocument.Yaml.Category">@BlogPostDocument.Yaml.Category</span>
                    <span class="date">@BlogPostDocument.Yaml.Date.ToString("dd MMMM, yyyy")</span>
                </div>
                <div class="title" title=" @BlogPostDocument.Yaml.Title">
                    @BlogPostDocument.Yaml.Title
                </div>
            </div>
        </div>
        <section class="post-body">
            @((MarkupString)BlogPostDocument.Html)
        </section>
        <div class="post-footer">
            <div class="tags">
                <i class="las la-tags"></i><strong>TAGS:</strong>
                @foreach (var tag in BlogPostDocument.Yaml.Tags)
                {
                    <a href="@($"Blog/Tags/{tag}")">@tag</a>
                }
            </div>
            <span class="date"><i class="las la-calendar"></i><strong>UPDATED:</strong> @BlogPostDocument.Yaml.DateUpdated.ToString("dd MMMM, yyyy")</span>
            <div class="post-social">
                <strong>SHARE ON:</strong>
                <div>
                    <a data-exclude="true" class="btn btn-facebook" href="https://www.facebook.com/sharer/sharer.php?u=@(HttpUtility.UrlEncode(NavigationManager.Uri))" target="_blank"><i class="lab la-facebook"></i> <span>Facebook</span></a>
                    <a data-exclude="true" class="btn btn-twitter" href="https://twitter.com/intent/tweet?url=@(NavigationManager.Uri)" target="_blank"><i class="lab la la-twitter"></i> <span>Twitter</span></a>
                    <a data-exclude="true" class="btn btn-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url=@(NavigationManager.Uri)"><i class="lab la-linkedin"></i> <span>LinkedIn</span></a>
                </div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public string PostName { get; set; }

    [Inject] private IBlogPostProcessorService BlogPostProcessorService { get; set; }
    [Inject] private IJSRuntime JSRuntime { get; set; }
    [Inject] private NavigationManager NavigationManager { get; set; }

    private BlogPostDocument BlogPostDocument { get; set; }
    private bool IsDataLoading { get; set; } = true;
    private bool IsDataEmpty { get; set; } = true;

    protected override void OnInitialized()
    {
        string PostTitle = NavigationManager
            .ToBaseRelativePath(NavigationManager.Uri)
            .Split('/', StringSplitOptions.RemoveEmptyEntries)[2]
            .Replace("-", " ");
        JSRuntime.InvokeVoidAsync("BlazorHelpers.SetTitle", PostTitle);
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            BlogPostDocument = await BlogPostProcessorService.ProcessPostAsync(PostName);

            if (BlogPostDocument.Yaml != null)
                IsDataEmpty = false;

            IsDataLoading = false;

            StateHasChanged();
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("BlazorHelpers.InitializeJsLibs");
        }
    }

    public void Dispose()
    {
        JSRuntime.InvokeVoidAsync("BlazorHelpers.DestroyJsLibs");
    }
}
