@page "/Post/{PostName}"

<div class="post-container">
    <div class="post-banner">
        <img src="@ImageUrl" alt="@Title" />
        <div class="post-info">
            <div class="info">
                <span class="category">@Category</span>
                <span class="date">@Date.ToString("dd MMMM, yyyy")</span>
            </div>
            <div class="title">
                @Title
            </div>
        </div>
    </div>
    <div class="post-body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quam vulputate dignissim suspendisse in. Ut tellus elementum sagittis vitae. Tortor posuere ac ut consequat semper viverra nam. Tristique nulla aliquet enim tortor. Sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula ipsum. Nullam non nisi est sit amet facilisis magna. Pellentesque habitant morbi tristique senectus. Massa placerat duis ultricies lacus sed turpis tincidunt. Lacus suspendisse faucibus interdum posuere lorem ipsum. Duis ultricies lacus sed turpis tincidunt id aliquet risus feugiat. Tortor at risus viverra adipiscing at in. Sed velit dignissim sodales ut eu sem integer vitae justo. Pellentesque adipiscing commodo elit at imperdiet dui accumsan sit. In eu mi bibendum neque egestas congue.

        Aliquet porttitor lacus luctus accumsan tortor posuere ac ut. Sit amet tellus cras adipiscing enim. Ornare lectus sit amet est placerat. Fringilla urna porttitor rhoncus dolor purus non enim. Bibendum at varius vel pharetra vel turpis. Augue ut lectus arcu bibendum at varius vel. Arcu felis bibendum ut tristique et. Risus viverra adipiscing at in tellus integer feugiat scelerisque. Blandit libero volutpat sed cras ornare arcu dui vivamus arcu. Sed libero enim sed faucibus turpis in eu mi. Ac auctor augue mauris augue neque gravida. Odio morbi quis commodo odio aenean sed adipiscing. Aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer. Nulla facilisi morbi tempus iaculis urna id volutpat lacus laoreet. Iaculis eu non diam phasellus vestibulum lorem sed risus. Amet cursus sit amet dictum sit amet. Lacus sed viverra tellus in hac habitasse platea dictumst vestibulum.

        Volutpat sed cras ornare arcu dui vivamus. Orci sagittis eu volutpat odio facilisis. In eu mi bibendum neque egestas congue quisque egestas diam. Aliquam vestibulum morbi blandit cursus risus. Accumsan tortor posuere ac ut consequat semper viverra nam. Aliquam etiam erat velit scelerisque. Et netus et malesuada fames ac turpis egestas integer. Vestibulum rhoncus est pellentesque elit. Nisl purus in mollis nunc sed id semper. Volutpat est velit egestas dui id ornare arcu. Hendrerit dolor magna eget est lorem ipsum dolor sit amet. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit. Morbi quis commodo odio aenean sed adipiscing diam. Id volutpat lacus laoreet non. Nunc sed blandit libero volutpat sed cras ornare. Felis donec et odio pellentesque diam volutpat. Magna eget est lorem ipsum dolor. In egestas erat imperdiet sed euismod. Tellus orci ac auctor augue mauris. Mauris ultrices eros in cursus turpis massa tincidunt dui ut.

        Egestas integer eget aliquet nibh praesent tristique magna sit. Ut ornare lectus sit amet est placerat in egestas. Commodo elit at imperdiet dui accumsan. Arcu bibendum at varius vel pharetra vel. Habitasse platea dictumst quisque sagittis. Eu lobortis elementum nibh tellus molestie nunc non blandit. Est lorem ipsum dolor sit amet consectetur adipiscing. Nam libero justo laoreet sit amet cursus sit amet dictum. Venenatis urna cursus eget nunc. Ut ornare lectus sit amet est placerat in.

        Sit amet mattis vulputate enim nulla. Purus in mollis nunc sed id semper risus. Habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. Congue nisi vitae suscipit tellus mauris a diam maecenas sed. Purus viverra accumsan in nisl nisi scelerisque. Luctus venenatis lectus magna fringilla urna porttitor rhoncus dolor. Ultricies lacus sed turpis tincidunt id aliquet. Parturient montes nascetur ridiculus mus. Sed sed risus pretium quam vulputate dignissim suspendisse in est. Lectus mauris ultrices eros in cursus turpis. Enim eu turpis egestas pretium aenean pharetra magna ac. Semper auctor neque vitae tempus quam pellentesque nec nam. Faucibus ornare suspendisse sed nisi lacus sed viverra tellus in. Pharetra vel turpis nunc eget. Nunc lobortis mattis aliquam faucibus.

        Tellus cras adipiscing enim eu turpis. Malesuada bibendum arcu vitae elementum curabitur vitae nunc sed. Montes nascetur ridiculus mus mauris vitae. Urna et pharetra pharetra massa massa ultricies mi. Proin nibh nisl condimentum id. Vitae turpis massa sed elementum tempus egestas sed sed risus. Massa vitae tortor condimentum lacinia. Sit amet justo donec enim. Quis varius quam quisque id. Id venenatis a condimentum vitae. Tellus pellentesque eu tincidunt tortor. Diam maecenas sed enim ut sem. Lorem ipsum dolor sit amet.

        Vitae congue mauris rhoncus aenean vel elit scelerisque. Habitasse platea dictumst quisque sagittis. Ac tortor vitae purus faucibus ornare suspendisse sed nisi. In nulla posuere sollicitudin aliquam. Quis eleifend quam adipiscing vitae proin sagittis nisl rhoncus. Dictum at tempor commodo ullamcorper a lacus vestibulum sed arcu. Ut sem nulla pharetra diam sit. Odio tempor orci dapibus ultrices in. Viverra suspendisse potenti nullam ac tortor vitae purus faucibus ornare. Sodales ut etiam sit amet nisl purus. Turpis egestas sed tempus urna et pharetra.

        Vitae sapien pellentesque habitant morbi tristique senectus et. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Neque vitae tempus quam pellentesque nec nam. Iaculis eu non diam phasellus. Erat pellentesque adipiscing commodo elit at imperdiet. Vel pharetra vel turpis nunc eget lorem dolor sed. Elementum eu facilisis sed odio morbi quis commodo. Varius sit amet mattis vulputate enim nulla aliquet porttitor lacus. Aliquet porttitor lacus luctus accumsan tortor posuere ac ut consequat. Sagittis nisl rhoncus mattis rhoncus urna neque viverra justo nec. Enim tortor at auctor urna nunc id cursus metus aliquam. Leo vel fringilla est ullamcorper eget nulla facilisi etiam dignissim. Molestie a iaculis at erat. Interdum posuere lorem ipsum dolor sit. Turpis egestas maecenas pharetra convallis posuere. Adipiscing elit duis tristique sollicitudin nibh sit. Pharetra sit amet aliquam id diam maecenas ultricies mi.
    </div>
    <div class="post-footer">
        <div class="tags">
            <i class="las la-tags"></i><strong>TAGS:</strong>
            @foreach (var tag in Tags)
            {
                <NavLink href="@($"Tags/{tag}")">@tag</NavLink>
            }
        </div>
        <span class="date"><i class="las la-calendar"></i><strong>UPDATED:</strong> @DateUpdated.ToString("dd MMMM, yyyy")</span>
        <div class="post-social">
            <strong>SHARE ON:</strong>
            <div>
                <a class="btn btn-facebook" href="#"><i class="lab la-facebook"></i> <span>FACEBOOK</span></a>
                <a class="btn btn-twitter" href="#"><i class="lab la la-twitter"></i> <span>TWITTER</span></a>
                <a class="btn btn-linkedin" href="#"><i class="lab la-linkedin"></i> <span>LINKEDIN</span></a>
                <a class="btn btn-instagram" href="#"><i class="lab la-instagram"></i> <span>INSTAGRAM</span></a>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string PostName { get; set; }
    private string Title { get; set; } = "Lorem ipsum dolor sit amet, consectetur adipiscing elit";
    private string ImageUrl { get; set; } = "/media/testback.jpg";
    private string Category { get; set; } = ".NET";
    private DateTime Date { get; set; } = DateTime.Today;
    private DateTime DateUpdated { get; set; } = DateTime.Today;
    private string[] Tags { get; set; } = new string[] { ".NET", ".NET Framework" };

    protected override void OnInitialized()
    {
        //Fetch post file metadata
    }

}
