@page "/Post/{PostName}"

<div class="post-container">
    <div class="post-banner">
        <img src="@ImageUrl" alt="@Title" />
        <div class="post-info">
            <div class="info">
                <span class="category">@Category</span>
                <span class="date">@Date.ToString("dd MMMM, yyyy")</span>
            </div>
            <div class="title">
                @Title
            </div>
        </div>
    </div>
    <div class="post-body">
    </div>
    <div class="post-footer">
        <div class="tags">
            <i class="las la-tags"></i><strong>TAGS:</strong>
            @foreach (var tag in Tags)
            {
                <NavLink href="@($"Tags/{tag}")">@tag</NavLink>
            }
        </div>
        <span class="date"><i class="las la-calendar"></i><strong>UPDATED:</strong> @DateUpdated.ToString("dd MMMM, yyyy")</span>
        <div class="post-social">
            <strong>SHARE ON:</strong>
            <div>
                <a class="btn btn-facebook" href="#"><i class="lab la-facebook"></i> <span>Facebook</span></a>
                <a class="btn btn-twitter" href="#"><i class="lab la la-twitter"></i> <span>Twitter</span></a>
                <a class="btn btn-linkedin" href="#"><i class="lab la-linkedin"></i> <span>LinkedIn</span></a>
                <a class="btn btn-instagram" href="#"><i class="lab la-instagram"></i> <span>Instagram</span></a>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public string PostName { get; set; }
    private string Title { get; set; }
    private string ImageUrl { get; set; }
    private string Category { get; set; }
    private DateTime Date { get; set; }
    private DateTime DateUpdated { get; set; }
    private string[] Tags { get; set; }

    protected override void OnInitialized()
    {
        //Fetch post file metadata
    }

}
