<div class="blog-post-list">
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/600">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/500">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/400">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/500">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/400">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/600">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/400">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/400">

    </BlogPost>
    <BlogPost Category=".NET"
              Date="@DateTime.Today.ToString("dd MMMM, yyyy")"
              Title="Some title about the post"
              ShortDescription="Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore. Some description about the post listed on this site for testing purposes only. Please ignore."
              ImageUrl="https://via.placeholder.com/400">

    </BlogPost>
</div>

@code {

}
